body {
  background-color: rgb(110, 244, 244);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  text-align: center;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}

.Time {
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 5px;
  line-height: 36px;
}

select {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: rgb(221, 115, 77);
  font-size: 36px;
}

h2 {
  margin: 0 0 10px;
  padding: 20px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 20px;
  color: rgba(8, 8, 12);
}
